<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.micalcu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calcu1"
        android:label="CALCU_ESFOT"
        android:roundIcon="@mipmap/calcu1_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>